In [32]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.interpolate import interp1d

In [33]:
asteroid_df_final = pd.read_csv("asteroid_df_final.txt",sep="\t")
asteroid_df_final.head()

       nombre smass                 file
0  Abehiroshi     V     a005379.sp51.txt
1    Senrikyu     B  a005330.sp290n1.txt
2    Robinson    Sr     a003819.sp84.txt
3       Paris     T     a003317.sp50.txt
4   Farinella     D     a003248.sp39.txt

In [34]:
df_list = []
for i in range(asteroid_df_final.shape[0]):
    df = pd.read_csv("VIS_NIR/{}".format(asteroid_df_final.file[i]), delim_whitespace=True, names = ['wavelenght', 'intensity', 'error', '-'])
    df.drop(['error', '-'], axis=1, inplace=True)
    df_list.append(df)

In [35]:
for i in range(len(df_list)):
    df_list[i].index = range(len(df_list[i]))
    ast_index = df_list[i][df_list[i].wavelenght.duplicated()].index
    df_list[i].drop(ast_index, inplace=True)

In [36]:
f = []
x = []
for i in df_list:
    x_temp = i.wavelenght
    y_temp = np.abs(i.intensity)
    f.append(interp1d(x_temp,y_temp,kind='cubic'))

In [37]:
x_new = np.linspace(0.45,2.45,1000,endpoint=True)
data_spec = [i(x_new) for i in f]

In [38]:
data = pd.DataFrame(data_spec,columns=x_new)
data.head()

,0.450000,0.452002,0.454004,0.456006,0.458008,0.460010,0.462012,0.464014,0.466016,0.468018,...,2.431982,2.433984,2.435986,2.437988,2.439990,2.441992,2.443994,2.445996,2.447998,2.450000
0,0.9765,0.873727,0.802019,0.908693,0.992507,0.892887,0.806158,0.822114,0.824980,0.798456,...,1.453882,1.428696,1.286868,1.095002,0.999979,1.100082,1.281601,1.382604,1.370983,1.3453
1,1.1423,1.104633,1.062175,0.996224,0.949799,1.010879,1.060699,1.024171,1.030800,1.106784,...,0.991043,0.997508,1.001280,1.001278,1.000005,0.999570,0.999831,1.000092,1.000091,1.0000
2,0.8445,0.770504,0.786651,0.801385,0.780085,0.812111,0.815159,0.828218,0.823612,0.821009,...,1.696828,1.687543,1.699685,1.727674,1.741618,1.724284,1.714307,1.760465,1.817740,1.7467
3,0.9238,0.935045,0.928104,0.933731,0.943692,0.937315,0.953128,0.967190,0.969832,0.959735,...,2.056997,1.990262,1.979909,2.040457,1.958246,1.594457,1.155880,0.926450,0.944271,1.0000
4,0.8795,0.953828,0.956625,0.849646,0.784283,0.867913,0.938608,0.909334,0.893468,0.906256,...,1.482280,1.065135,1.077220,1.503595,1.945946,2.089067,2.025298,1.945494,1.926199,1.9289

In [39]:
data["spect_b"] = asteroid_df_final.smass
data["name"] = asteroid_df_final.nombre

In [40]:
n_col = [data.columns[-1],data.columns[-2]]
for i in data.columns[:-2].tolist():
    n_col.append(i)

data = data[n_col]

In [43]:
data.head()

,name,spect_b,0.45,0.452002002002002,0.45400400400400404,0.456006006006006,0.458008008008008,0.46001001001001,0.46201201201201203,0.46401401401401404,...,2.431981981981982,2.433983983983984,2.4359859859859863,2.437987987987988,2.43998998998999,2.441991991991992,2.443993993993994,2.4459959959959963,2.447997997997998,2.45
0,Abehiroshi,V,0.9765,0.873727,0.802019,0.908693,0.992507,0.892887,0.806158,0.822114,...,1.453882,1.428696,1.286868,1.095002,0.999979,1.100082,1.281601,1.382604,1.370983,1.3453
1,Senrikyu,B,1.1423,1.104633,1.062175,0.996224,0.949799,1.010879,1.060699,1.024171,...,0.991043,0.997508,1.001280,1.001278,1.000005,0.999570,0.999831,1.000092,1.000091,1.0000
2,Robinson,Sr,0.8445,0.770504,0.786651,0.801385,0.780085,0.812111,0.815159,0.828218,...,1.696828,1.687543,1.699685,1.727674,1.741618,1.724284,1.714307,1.760465,1.817740,1.7467
3,Paris,T,0.9238,0.935045,0.928104,0.933731,0.943692,0.937315,0.953128,0.967190,...,2.056997,1.990262,1.979909,2.040457,1.958246,1.594457,1.155880,0.926450,0.944271,1.0000
4,Farinella,D,0.8795,0.953828,0.956625,0.849646,0.784283,0.867913,0.938608,0.909334,...,1.482280,1.065135,1.077220,1.503595,1.945946,2.089067,2.025298,1.945494,1.926199,1.9289

In [42]:
data.shape

(160, 1002)

In [44]:
data.to_csv("data_final.txt",sep="\t",index=None)